{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      

   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{% static 'css/Emergency.css' %}">
   <title> Login Report </title>
   
  </head>
  <body style="background: -webkit-linear-gradient(left, #3931af, #00c6ff);  background-attachment: fixed; background-size: cover;">
    <header style="background: rgb(37, 35, 35); height: 50px; position : abslute ;">
      <div class ="head" align="right" style="padding-top: 10px;">
         <a href="index.html" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;">Home </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <!-- <a href="virtual_tour.mp4" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;"> Virtual Tour</a>&nbsp;&nbsp;&nbsp; -->
         <a href="Emergency.html" target="_self" style="font-size: 20px; color: red; font-family: 'IBM Plex Sans', sans-serif;"> Emergency  </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="Appointment.html" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;"> Appointment  </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="Review.html" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;"> Review  </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="ApppintmentReviews.html" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;"> Appointment Reviews   </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="ChestX-Ray.html" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;"> Corona-XRay   </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="Login.html" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;"> Login </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="Login_Report.html" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;"> login_report </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="contact.html" target="_self" style="font-size: 20px; color: white;font-family: 'IBM Plex Sans', sans-serif;"> Contact us </a>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>		  
    </header>


      <div class="container-fluid" style="margin-top:60px;margin-bottom:60px;color:#34495E;">
         <div class="row">
            <div class="col-md-4" style="margin-top: 10%; margin-left: 30%;">
               <div class="card" style="font-family: 'IBM Plex Sans', sans-serif;">
                  <div class="card-body">
                     <i class="fa fa-hospital-o fa-3x" aria-hidden="true" style="color:#0062cc"></i>
                     <br>`
                  <h3 style="margin-top: 10%">Admin Login</h3><br>
                  <div class="container contact-form" style="font-family: 'IBM Plex Sans', sans-serif;">
                     <form  method="post" class="main_form" >
                        {% csrf_token %}

                        <div class="row" style="margin-top: 10%">
                           <div class="col-md-4">
                              <label>
                                 User-Name: 
                              </label>
                           </div>
                           <div class="col-md-8">
                              {{ form.username }}
                           </div><br><br>
                           <div class="col-md-4" style="margin-top: 8%">
                              <label>Password: 
                              </label>
                           </div>
                           <div class="col-md-8" style="margin-top: 8%">
                              {{ form.password }}
                           </div><br><br><br>
                        </div>
                        <div class="row">
                        <div class="col-md-4"  style="padding-left: 160px;margin-top: 10%">
                        <input type="submit" id="inputbtn" name="patsub" value="Login" class="btn btn-primary">
                        </div>           
                        </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="hedingh3 text_align_left">
                        <h3>Resources</h3>
                        <ul class="menu_footer">
                         <li> <a href= "index.html">Home</a><li>
                            <li> <a href="Emergency.html">Emergency</a><li>
                            <li> <a href="contact.html">Contact us</a><li>
                            <li> <a href="Appointment.html">Appointment</a><li>
                         </ul>                          
      
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="hedingh3 text_align_left">
                       <h3>About</h3>
                        <p>We oppose in out of the ordinary specialties ranging stranger IVF, Gynaecology, Obstetrics and General Health. We far downwards assume in contribution an affordable and service-oriented caution to our patients.</p>
                     </div>
                  </div>                     
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="hedingh3  text_align_left">
                        <h3>Contact  Us</h3>
                          <ul class="top_infomation">
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                     Making this the first true  
                  </li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>
                     Call : +20 1165120987
                  </li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>
                     <a href="Javascript:void(0)">Email : hospital@gmail.com</a>
                  </li>
               </ul>
                      
                     
               </div>
            </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="hedingh3 text_align_left">
                        <h3>countrys</h3>
                        <div class="map">
                          <img src="{% static 'images/map.png' %}" alt="#"/>
                        </div>
                     </div>
                  </div>
         </div>
      </div>
   </div>
   </footer>
</body>
</html>