* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}


.container1 {
    position: relative;
    text-align: center;
    color: white;
  }
  
.container1 .centered {
    color: red;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }